.THIS{
    margin: 0 -65px;
    min-width: 100%;
}
.THIS .item{
    position: relative; 
    background-repeat: no-repeat; 
    background-size:cover;
    width: 100%;
	height: 240px;
}

.THIS .BannerContentDiv{
    width: 100%;
    position: absolute;
	top: 50%;
    padding:0 65px;
	transform: translateY(-50%);
	webkit-transform: translateY(-50%);
	ms-transform: translateY(-50%);
}
.THIS .textoverimagdiv{
    padding-left:65%;
}
.THIS .textbody{
    font-size:16px;
    color: #ffffff;
}
.THIS .textTitle{font-size: 38px;  color: #fefefe;line-height:50px;}