# Created by .ignore support plugin (hsz.mobi)
### ForceDotCom template
.project
.settings
salesforce.schema
Referenced Packages

### ForceDotCom template
.project
.settings
salesforce.schema
Referenced Packages

